:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-blue: #222e50;
  --light-green: #439a86;
  --tan: #bcd8c1;
  --sandy: #e9d985;
  --light-blue: #007bfff4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
a,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  margin-inline: auto !important;
  background-color: var(--light-blue);
  color: whitesmoke;
  max-width: 1024px;
}

i {
  cursor: pointer;
}

.homepage-container {
  padding: 1rem;
}
